<h1>Notification: New Feedback</h1>

<p>
  <b>Content:</b><br/>
  <%= @feedback.content %>
</p>

<p>
  <b>Email:</b><br/>
  <%= @feedback.email %>
</p>

<p>
  <b>Wants To Stay Informed?</b><br/>
  <%= @feedback.wants_to_stay_informed %>
</p>
