<div class="content-wrapper">

  <div class="content">
    <p class="time right grey-text">
      <i class="material-icons tiny">schedule</i>
      <%= time_ago_in_words(decision.ends_at) %> left<br/>
    </p>
    <h3 class="no-margin-top">
      <%= decision.title %>
    </h3>
    <p>
      <%= # put description
      if preview
        strip_tags(decision.description).truncate_words(50)
      else
        simple_format decision.description, {}, :sanitize => false
      end %>
    </p>
  </div>

</div>
