<%= render :partial => "ournaropa_decisions/mock_ups/render_author",
:locals => {:author => alternative.author, :small => true} %>

<div class="alternative z-depth-1 link">
  <div class="row">

    <div class="col s12 l9">
      <%= link_to "#alternative#{alternative.id}", :class => "open-alternative" do %>
        <%= render partial: "alternative_content", object: alternative,
            as: :alternative, locals: {preview: true} %>
      <% end %>
    </div>

    <div class="col s12 l3">
      <%= render partial: "alternative_action", object: alternative,
          as: :alternative, locals: {stack_vertically: true} %>
    </div>

  </div>
</div>
