<%
  small = false || small
%>

<div class="author center-align">
  <%= image_tag "ournaropa_decisions/" + author.parameterize,
    class: "circle responsive-img modal-trigger " + (small ? 'small' : ''),
    data: {target: "id_" + author.parameterize} %>
  <div class="custom-chip staff"><%= author %></div>
</div>
