<div id="ournaropa_decisions_mock_ups" class="container">

  <%# spacing %>
  <div class="section"></div>

  <div class="row">

    <div class="col s12">

      <%= render partial: "ournaropa_decisions/mock_ups/decision",
          object: @decision %>

    </div>
  </div>

</div>
